.orderSummary {
  padding: 20px;
  background: #f7f7f7; /* Background color jaisa image mein hai */
  border: 1px solid #eee;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.cartTotalBox {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 16px;
  color: #555;
  border-bottom: 1px solid #eee;
}

.finalTotal {
  padding-top: 15px;
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  border-bottom: none;
  border-top: 1px solid #ccc; /* Final Total ke liye moti line */
}

.finalTotal .label,
.finalTotal .value {
  font-weight: 700;
}

/* Payment Method Styling */
.paymentMethod {
  margin-top: 30px;
}

.radioLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.radioLabel input {
  margin-right: 10px;
}

.termsLabel {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.termsLabel input {
  margin-right: 10px;
}

.placeOrderButton {
  width: 100%;
  background: #79a34f; /* Green color */
  color: white;
  border: none;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.placeOrderButton:hover {
  background-color: #63853e;
}
